<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>baseURL</key>
	<dict>
		<key>relative</key>
		<string>https://openexchangerates.org/api</string>
	</dict>
	<key>listPath</key>
	<string>/currencies.json</string>
	<key>ratePath</key>
	<string>/latest.json</string>
	<key>app_id</key>
	<string>f7f39d1f84074fdea979e6656994c954</string>
</dict>
</plist>
