<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>baseURL</key>
	<dict>
		<key>relative</key>
		<string>http://api.currencylayer.com</string>
	</dict>
	<key>listPath</key>
	<string>/list</string>
	<key>ratePath</key>
	<string>/live</string>
	<key>accessKey</key>
	<string>dbec531fad18e386c1124a3180901d39</string>
</dict>
</plist>
